.categories{
    /* border: solid red; */
}
.path{
margin-left: 5%;
margin-top: 10px;
}
.path p{
    font: normal normal normal 14px/10px DM Sans;
    font-family: 'DM Sans', sans-serif;
letter-spacing: 0.16px;
color: #4E4E50;
padding: 2px;
}
.path{
    display: flex;
    /* align-items: center; */
    /* border: green solid; */
    margin-top: 15px;
}
#path__icon{
    font-size: 14px;
    color: #4E4E50;
    /* border: solid red   ;     */
}
.categories__content{
    /* border: solid green; */
    margin-top: 50px;
    border-bottom: 2px solid #f1eeee ;
    padding-bottom: 60px;
    
}
.search__items__head h5{
    text-align: left;
font: normal normal normal 17px/24px DM Sans;
font-family: 'DM Sans', sans-serif;
letter-spacing: 0.18px;
color: #4E4E50;
}
.search__items__input{
    background: #F6F6F6 ;
border-radius: 5px;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
max-width: 200px;
height: 40px;


}

.search__items__input input{
    background: #F6F6F6 ;
border:none;
outline: none;
font: normal normal normal 14px/24px DM Sans;
font-family: 'DM Sans', sans-serif;

color: #4E4E50;
padding: 5px;
height: 40px;

}
.search__items__input input:hover{
    background: #e4e1e1 ;
}
#search__items__icon{
    color: #4E4E50;
    padding: 1px;
    margin-right: 5px;
    /* padding-right: 5px; */
    /* margin-right: 10px; */
}
#search__items__icon:hover{
    color: #222224;
}
.search__items__icon__div{
    height: 40px;
    background: #F6F6F6 ;
    /* border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; */
    /* border: solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.search__items_col{
    display: flex;
    justify-content: center;
}
.search__item{
    /* margin-top: 30px; */
}
.search__item__row{
    display: flex;
    flex-direction: row;
    /* border: solid red; */
    align-items: center;
    padding-left: 10px;
}
.search__item__row p{
    font: normal normal normal 13px/1px DM Sans;
    font-family: 'DM Sans', sans-serif;
    letter-spacing: 0.16px;
    color: #4E4E50;
    margin-left: 10px;
    /* border: solid green; */
    margin-top: 16px;
}
.search__item__row input{
    background: #FFFFFF ;
    border: 1px solid #DED6D6;
    /* height: 14px;
    width: 14px; */
}


.categories__head__row {
    border-bottom: 2px solid #f1eeee ;

    height: 30px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    margin-top: 50px;

}

#search__dropdown{
    margin-top: 30px;
    width: 200px;
}
/* #dropdown-basic{
    outline: none;
    box-shadow: none;
    border: 1px solid #f1eeee;
    width: 150px;
  

} */
#dropdown-basic {
    text-align: left;
    font: normal normal normal 15px/30px DM Sans;
    font-family: 'DM Sans', sans-serif;
    letter-spacing: 0.3px;
    color: #343434;
    outline: none;
    box-shadow: none;
    border: 1px solid #f1eeee;
    width: 150px;
}
.categories__head__row h5{
    text-align: left;
    font: normal normal medium  19px/30px DM Sans;
    font-family: 'DM Sans', sans-serif;
    letter-spacing: 0.3px;
    color: #343434;
    
}
.categories__head__row p{
    font: normal normal normal 15px/20px DM Sans;
    font-family: 'DM Sans', sans-serif;
    letter-spacing: 0.15px;
    color: #313131;

}

.pagination__div{
    /* border: solid rgb(228, 228, 228); */
    display: flex;
    justify-content: center;
    margin-top: 70px;
    padding-left: 10px;
    padding-right: 10px;
    /*  */
}

@media screen and (max-width: 800px) {

    .categories__content{
        /* border: solid green; */
        margin-top: 10px;
        border-bottom: 2px solid #f1eeee ;
        padding-bottom: 30px;
        
    }
    #search__dropdown{
        margin-top: 5px;
        width: 200px;
        
    }
    #dropdown-basic {
        text-align: left;
        font: normal normal normal 14px/30px DM Sans;
        font-family: 'DM Sans', sans-serif;
        letter-spacing: 0.3px;
        color: #343434;
        outline: none;
        box-shadow: none;
        border: 1px solid #f1eeee;
        width: 150px;
    }
    .path p{
        font: normal normal normal 13px/10px DM Sans;
        font-family: 'DM Sans', sans-serif;
    letter-spacing: 0.16px;
    color: #4E4E50;
    padding: 2px;
    }
    .search__items__head h5{
        text-align: left;
    font: normal normal normal 16px/14px DM Sans;
    font-family: 'DM Sans', sans-serif;
    letter-spacing: 0.18px;
    color: #4E4E50;
    }
    .categories__right{
        margin-top: 30px;
    }
}